  @media screen and (max-width: 768px) {
  :root{
    font-size: 15px;
  }
  body {
    padding-top: 1rem;
    overflow-x: hidden;
  }
  .top {
    display: none;
  }
  #welcome{
    text-align: center;
  }
  header {
    flex-direction: column;
    width: 98%;
    justify-content: center;
    align-items: center;
  }
  .img-head-container {
    width: 90%;
    height: 3rem;
  }
  .img {
    width: 4rem;
    height: 4rem;
  }
  .nav-container {
    width: 100%;
  }
  .nav-container li a {
    /* color: white; */
    /* padding: 0.5rem 0.8rem; */
    /* background: rgb(133, 84, 255); */
    border-radius: 0.2rem;
    font-size: 14px;
  }
  h2 {
    margin: 1rem;
    font-size: 1.5rem;
  }
  .work-container {
    width: 100%;
    margin: 4rem auto;
    text-align: center;
  }

  /* work */

  .work-cntr {
    width: 100%;
    height: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .iframe{
    width:95%;
    height:400px;
    overflow: hidden;

  }
  .work-cntr div {
    text-align: center;
    margin: 2rem auto;
  }


  .projects {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .projects img {
    border: 1px solid black;
  }
  .projects a {
    text-decoration: none;
    color: #000;
    padding: 0.4rem;
    background: rgb(90, 163, 247);
    border: 1px solid black;
    letter-spacing: 1px;
    font-family: Overpass Mono;
  }
  #about p {
    width: 98%;
    line-height: 1.5rem;
    padding: 1rem;
    font-size: 15px;
    letter-spacing: 1.1px;
  }
  /* Algorithms based projects */
  .algo-projects {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .algo-projects a {
    text-decoration: none;
    color: rgb(255, 254, 254);
    background: #000;
    border-radius: 0.4rem;
    padding: 0.8rem;
    margin: 0.3rem;
    box-shadow: 2px 2px 8px rgba(113, 255, 168, 0.863);
  }
  .algo-projects a:hover {
    width: 20rem;
    transform: rotate(5deg);
    box-shadow: 3px 2px 10px rgba(247, 250, 60, 0.863);
  }
}

