@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap");

body {
  margin: 0%;
  padding-top: 3rem;
  background: #000;
}
#welcome {
  text-align: center;
}
h5 {
  font-size: 1.4rem;
  color: blueviolet;
}
.btn-section {
  margin: 0 auto;
  text-align: center;
  float: right;
}
.body-transition {
  color: white;
  transition: all 3s ease-in-out;
}
.btn-section button {
  padding: 0.2rem 0.4rem;
  font-size: 1.2rem;
  background-image: linear-gradient(45deg, rgb(253, 43, 71), rgb(255, 233, 38));
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}
header {
  width: 98%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.img-head-container {
  width: 20rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  transition: ease-out 3s;
}
.heading-container {
  padding-left: 1rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.heading-container h1 {
  font-size: 1.5rem;
  margin: 0;
  font-family: Overpass Mono;
  background: rgb(63, 64, 78);
  color: rgb(255, 255, 255);
  transition: all 3s ease-in-out;
  padding: 0.1rem 0.2rem;
  text-shadow: 2px 2px rgb(9, 10, 10);
}

.heading-container p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: lighter;
  padding-top: 0.1rem;
  font-family: East Sea Dokdo, cursive;
}
.nav-container {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.nav-container li {
  list-style: none;
}
.nav-container li a {
  text-decoration: none;
  color: black;
  font-family: Overpass Mono;
}
.nav-container li a:hover {
  padding: 0.3rem 0.3rem;
  background: rgb(168, 133, 255);
  color: rgb(0, 0, 0);
  border-radius: 0rem;
}
#about {
  margin: 0 auto;
}
#about p {
  width: 40%;
  margin: 0 auto;
  font-family: Overpass Mono;
  font-weight: lighter;
  text-align: left;
  letter-spacing: 1.2px;
  transition: all 2s ease-out;
}
h2 {
  text-align: center;
  margin: 5rem auto;
  font-family: Overpass Mono;
  font-weight: lighter;
  font-size: 2rem;
}
strong {
  background: #000;
  color: white;
  padding: 1px;
  transition-delay: 1s;
  transition: 3s ease-in-out;
}
li {
  text-align: center;
  font-family: Overpass Mono;
  font-weight: lighter;
}
em {
  color: rgb(255, 0, 55);
  font-size: 0.9rem;
}
.work-cntr {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.work-cntr div {
  text-align: center;
}
.work-cntr div a {
  color: dodgerblue;
  text-decoration: none;
  margin: 2rem auto;
}
.iframe {
  width: 100%;
  height: 500px;
}
/* Scroll bar */
/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
} */
/* ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
} */
iframe {
  border: 1px solid black;
  scroll-margin-block: 1px;
}
.work-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.projects {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.projects img {
  border: 1px solid black;
}
.projects a {
  text-decoration: none;
  color: #000;
  padding: 0.4rem;
  background: rgb(90, 163, 247);
  border: 1px solid black;
  letter-spacing: 1px;
  font-family: Overpass Mono;
}
.projects a:hover {
  color: white;
  background: black;
  text-decoration: underline;
}
#blogs {
  margin: 0 auto;
  text-align: center;
}
.blog-container div {
  display: inline-block;
  width: 300px;
  height: 150px;
}

.nav-container-2 {
  width: 200px;
  height: 30px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-container-2 li {
  list-style: none;
}
.nav-container-2 li a {
  color: rgb(253, 177, 115);
}
.nav-container-2 li a:hover {
  color: rgb(81, 98, 255);
}
i {
  font-size: 2rem;
}
#contact {
  margin-bottom: 2rem;
}
#contact p {
  text-align: center;
  font-family: Overpass Mono;
}
#work p {
  text-align: center;
  font-family: Overpass Mono;
}
